html
    head
        //- bower:css
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
        //- endbower
        //- bower:js
        script(src='/lib/jquery/dist/jquery.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.js')
        //- endbower

        //-inject:css
        link(rel="stylesheet", href="/css/styles.css")
        //-endinject
        //-inject:js
        script(src="/js/app.js")
        //-endinject
        title= title
    body(class="myClass")
        h1(id="myId")
            a(href="/") Library
        
        h3 Navigation
        each val in nav
            a(href= val.Link) 
                h4= val.Text 

        h3 Sign Up
        div
            form(name="signupform", action="/auth/signUp", method="post")
                p Username: &nbsp;
                    input(type="text", name="userName", id="userName")
                p Password: &nbsp;
                    input(type="password", name="password", id="password")
                input(type="submit", value="Sign Up")

        h3 Sign In
        div
            form(name="signinform", action="/auth/signin", method="post")
                p Username: &nbsp;
                    input(type="text", name="userName", id="userName")
                p Password: &nbsp;
                    input(type="password", name="password", id="password")
                input(type="submit", value="Sign In")